header{
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.full-width-header {
    display:flex;
}
.mobile-width-header {
    display:none;
}

.header-button {
    margin: 5px;
}

@media (max-width: 600px) {
    .full-width-header {
        display: none;
    }

    .mobile-width-header {
        display: flex;
    }
}