/* Global Styles */
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --major-blue: #524eb7;
    --stop-red: #E84855;
    --neutral-grey: #F3F7F6;
    --dark-grey: #78A59A;
}

body{
    margin: 0px;
    background-color: var(--neutral-grey);
}

form {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.1rem;
    }

    input {
        margin: 5px 0px;
        font-size: 1rem;
    }
}

button {
    min-width: 44px;
    min-height: 44px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }
}

.major-button {
    background-color: var(--major-blue);
    color: white;
}

.minor-button {
    border: 2px solid var(--major-blue);
    color: var(--major-blue);
    background-color: white;
}

.mobile-button {
    border: 3px solid black;
}

.leave-button {
    background-color: var(--stop-red);
    color: white;
}

.share-button {
    background-color: var(--neutral-grey);
    border: 2px solid black;
}

.close-button {
    background-color: rgba(0,0,0,0);
    font-size: 1.75rem;
}

.modal {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.25);
    width: 100vw;
    height: 100vh;

    .modal-container {
        background-color: white;
        margin: 70px auto 0 auto;
        min-width: 100px;
        width: 80vw;
        min-height: 50px;
        height: 25%;
        border-radius: 5px;
        .modal-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            h1{
                margin: 0;
            }
        }
    }
}