.home-page-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  min-content 1fr;
    grid-template-areas: "info"
                          "form";
    width: 100%;
    height: 100vh;
    min-height: 300px;
}

.app-info {
    grid-area: info;
    width: 90%;
    justify-self: center;

    .app-title {
        color: var(--major-blue);
    }
}

.app-form {
    grid-area: form;
    width: 40%;
    min-width: 150px;
    align-self: start;
    justify-self: center;
}

@media (max-width: 600px){
    .app-form {
        width: 75%;
    }
}

.toggle-form-button {
    height: 44px;
    margin: 5px auto;
    display: inherit;
    
}